@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");
body {
  font: 18px "Nunito", sans-serif;
  color: black;
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  
}
body body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;
  background: url("lonely.png") no-repeat center;
  background-size: cover;
  animation: backgroundZoomAnimate 20s forwards;
}

@keyframes backgroundZoomAnimate {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}
.profile-card {
  box-shadow: 0 18px 200px -60px black;
  border-radius: 50px;
  width: 650px;
  position: relative;
  backdrop-filter: blur(15px);
  border: 2px solid #ffffff40;
  padding: 3rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media screen and (max-width: 768px) {
  .profile-card {
    width: auto;
  }
}
.profile-card__img img {
  margin: auto;
  width: 200px;
  height: 200px;
  border-radius: 50px;
  object-fit: cover;
  display: block;
  box-shadow: 0 10px 60px -10px rgba(13, 28, 39, 0.5);
}
.profile-card__desc {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.profile-card__desc h1 {
  font-size: 2.5rem;
  font-weight: bold;
}
.profile-card__desc h1 + div {
  font-size: 20px;
}
.profile-card__info {
  display: flex;
  justify-content: center;
  gap: 50px;
}
@media screen and (max-width: 576px) {
  .profile-card__info {
    gap: 30px;
  }
}
.profile-card__info > div {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}
.profile-card__info > div > *:first-child {
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 2rem;
  margin-bottom: 15px;
}
.profile-card__info > div > *:last-child {
  font-size: 16px;
  opacity: 0.7;
}
.profile-card__social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.profile-card__social a {
  display: inline-flex;
  width: 55px;
  height: 55px;
  margin: 15px;
  border-radius: 40%;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  flex-shrink: 0;
  transition: all 0.2s;
}
@media screen and (max-width: 768px) {
  .profile-card__social a {
    width: 50px;
    height: 50px;
    margin: 10px;
  }
}
@media screen and (min-width: 768px) {
  .profile-card__social a:hover {
    transform: scale(1.2) translateY(-5px);
  }
}
.profile-card__social a.discord {
  background: linear-gradient(45deg, #3955a3, #0b43dd);
  box-shadow: 0 4px 30px rgba(43, 98, 169, 0.5);
}
.profile-card__social a.gmail {
  background: linear-gradient(45deg, #bb1212, #ff0000);
  box-shadow: 0 4px 30px rgba(43, 98, 169, 0.5);
}
.profile-card__social a.twitter {
  background: linear-gradient(45deg, #2d9299, #0be3ff);
  box-shadow: 0 4px 30px rgba(43, 98, 169, 0.5);
}
.profile-card__social a.github {
  background: linear-gradient(45deg, #616161, #424242);
  box-shadow: 0 4px 30px rgba(43, 98, 169, 0.5);
}
.profile-card__social a.stackoverflow {
  background: linear-gradient(45deg, #a3620d, #eb8c10);
  box-shadow: 0 4px 30px rgba(43, 98, 169, 0.5);
}